@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vendor-primary: #111827;
  --vendor-secondary: #f59e0b;
  --vendor-bg: #ffffff;
}

html,
body,
#root {
  height: 100%;
}

/* body {
  background-color: var(--vendor-bg);
  color: var(--vendor-primary);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
} */

body {
  background-color: var(--vendor-bg);
  color: var(--vendor-primary);
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
}

html {
  font-size: 14px; /* Base for mobile */
}

@media (min-width: 1024px) {
  html {
    font-size: 16px; /* Laptops */
  }
}

@media (min-width: 1536px) {
  html {
    font-size: 18px; /* Big desktop screens */
  }
}

@font-face {
  font-family: "TheSeasons";
  src: url("/fonts/fonnts.com-theseasons-reg.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

.font-the-seasons {
  font-family: "TheSeasons", serif !important;
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.infinite-track {
  animation: infinite-scroll 18s linear infinite;
}

* {
  text-transform: uppercase;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important; /* change arrow color */
}
